<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bluetooth Peripheral Usage Description</key>
	<string>允许此用户使用蓝牙</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMediaLibraryUsageDescription</key>
	<string>App需要您的同意,才能访问媒体资料库</string>
	<key>Privacy - Location When In Use Usage Description </key>
	<string>使用相机拍照时会获取位置信息</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
